@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
a
{
    margin: 0px;
    font-family: 'Inconsolata', monospace;
}
#nav-content
{
    background-color: darkred;
}
#ul-content
{
    list-style: none;
    display: flex;
    width: 30%;
    margin: auto;
}
#li-content
{
    padding: 30px;
}
#li-content a
{
    color: #fff;
    text-decoration: none;
}